html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}


body
{
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}

h1 {
	margin: 0;
	padding: 0;
}

.container
{
    max-width: 90%;
    margin: 0 auto;
}

.header {
	padding: 10px 0;
	background-color: #24460A;
	color: white;
	margin-bottom: 50px;
}

.site-header, section
{
    text-align: center;	
}

section
{
	padding: 10px 0;
    margin: 0;
}

p
{
    margin: 0;
}

.game-board 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;

}
.simon
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* width: 400px; */
    margin: auto;
    position: relative;
    margin: 0 auto;
}

.button
{
    display: inline-block;
    margin: 0;
    height: 10em;
    width: 10em;
    transition: border .3s ease;
}



.green
{
    background-color: green;
    border-radius: 100% 0 0 0;
}

.green.light
{
    background-color: #52EE13;
}

.red
{
    background-color: red;
    border-radius: 0 100% 0 0;
}

.red.light
{
    background-color: #FF6666;
}

.yellow
{
    background-color: #F79909;
    border-radius: 0 0 0 100%;
}

.yellow.light
{
    background-color: #FAEF08;
}

.blue
{
    background-color: blue;
    border-radius: 0 0 100% 0;
}

.blue.light
{
    background-color: #7AABFF
}

.startBtn
{
    position: absolute;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.startBtn:hover
{
    background-color: grey;
}

.hide
{
    display: none;
}
